<h3>
    new entry
</h3>


<form method="POST" action="/add">
    <input type="text" name="title" placeholder="title" value="">	
    <input type="text" name="date" placeholder="date, eg. 2018-10-31" value="">
    <textarea rows="4" cols="50" placeholder="art" name="art"></textarea>
    <input type="text" name="tags" placeholder="tags, separate by space" value="">
    <input type="submit">	
</form>