<h3>I HEARD SOMETHING !!!!!!</h3>

<form method="POST" action ='/sounds/add'>
    <div class="filterOption">
        WHAT:
        <input type="text" name="what" value="">
    </div>
    <div class="filterOption">
        WHERE:
        <input type="text" name="where" value="">
    </div>
    <div class="filterOption">
        DATE:
        <input type="text" name="date" value="">
    </div>
    <div class="filterOption">
        HOUR:
        <input type="text" name="hour" value="">
    </div>
    <div class="filterOption">
        DESCRIPTION:
        <input type="text" name="desc" value="">
    </div>
    <input type="submit" value="ADD">
</form>


